server:
  port: 8890
  address: 127.0.0.1
spring:
    profiles:
        active: dev
    application:
        name: external-server
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/demo?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=Hongkong
        username: root
        password: 123456
        type: com.alibaba.druid.pool.DruidDataSource
    jpa:
        show-sql: false
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        hibernate:
          ddl-auto: update
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: Hongkong
    thymeleaf:
        check-template: true
        encoding: UTF-8
        prefix: classpath:/templates/
        suffix: .html
        servlet:
          content-type: text/html
        cache: false
        mode: LEGACYHTML5
logback:
    logdir: logs
    appname: external-server
